<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="FileUtil" class="App.Common.Utils.FileUtil"/>
    <bean id="DataSetController" class="App.Controller.DataSetController"/>
    <bean id="AppFrame" class="App.View.AppFrame"/>
    <bean id="kdegree" class="App.Controller.KDegree"/>
    <bean id="ksymmetry" class="App.Controller.KSymmetry"/>
    <bean id="algorithmController" class="App.Controller.AlgorithmController"/>
    <bean id="jNauty" class="App.lib.jNauty.McKayGraphLabelingAlgorithm"/>
    <bean id="stabgraphAlgorithm" class="App.lib.jNauty.StabgraphAlgorithm"/>

</beans>